*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Merriweather', serif;
}
.all-content{
  background: #f2f2f7;
}
html::-webkit-scrollbar-track{
  background: transparent;
}

html::-webkit-scrollbar-thumb{
  background: #6372b5;
  border-radius: 10px;
}
html::-webkit-scrollbar{
  width: 10px;
}

#navbar{
  background-color: #6372b5;
  font-family: 'Roboto', sans-serif;
}
#logo img{
  border-radius: 10px;
  width: 160px;
  margin-left: 40px;
}
.navbar-nav{
  margin-left: 50px;
}
.nav-item .nav-link{
  color: rgb(255, 255, 255);
  margin-left: 10px;
  font-weight: bold;
  transition: 0.5s;
}
.nav-item .nav-link:hover{
  background: #f2f2f7;
  border-radius: 5px;
  color: black;
}
#navbar form button{
  background: black;
  color: white;
  border: 1px solid white;
}

#home{
    width: 100%;
    height: 90vh;
    background-image:linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)), url(./images/bg1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 80%;
    font-family: 'Roboto', sans-serif;
}
.content{
  padding-top: 210px;
  margin-left: 56px;
}
.content h3{
  font-size: 50px;
  color: white;
}
.content p{
  margin-top: 10px;
  color: white;
}
#btn{
  width: 150px;
  height: 36px;
  margin-top: 20px;
  background: white;
  border-radius: 5px;
  font-weight: bold;
  border: none;
  transition: 0.5s ease;
  cursor: pointer;
}
#btn:hover{
  background: #554cb2;
  color: white;
}

#about{
  width: 100%;
  height: 100vh;
  background: #f2f3f7;
  font-family: 'Roboto', sans-serif;
}
#about .container{
  padding-top: 70px;
}
.heading{
  text-align: center;
  margin-bottom: 50px;
  color: black;
  font-size: 30px;
  font-weight: bold;
}
.heading span{
  color: #4c4fb2;
}
#about .card{
  border-radius: 10px;
}
#about .card img{
  border-radius: 10px;
}
#about-btn{
  width: 200px;
  height: 36px;
  background: transparent;
  border: 2px solid #4c4eb2;
  color: #4c53b2;
  border-radius: 5px;
  font-weight: bold;
  transition: 0.5s;
  cursor: pointer;
}
#about-btn:hover{
  background: #4c4eb2;
  color: white;
}
@media screen and (max-width:982px){
  #about p{
    font-size: 8px;
  }
}
@media screen and (max-width:766px){
  #about p{
    font-size: 15px;
  }
  #about{
    height: 120vh;
  }
}


.product{
  width: 100%;
  background: #f2f3f7;
  font-family: 'Roboto', sans-serif;
}
.heading4{
  text-align: center;
  color: #534cb2;
  font-size: 30px;
  font-weight: bold;
  padding-top: 70px;
  border-bottom: 2px solid #4c56b2;
}
#container3{
  margin-top: 30px;
}
.product h3{
  text-align: center;
  color: rgb(76, 90, 178);
  font-size: 23px;
}
.product p{
  color: #4c51b2;
  padding-top: 10px;
}
.product p span{
  float: right;
  cursor: pointer;
}










#gallary{
  width: 100%;
}
#gallary h1{
  text-align: center;
  color: black;
  margin-top: 60px;
  font-weight: bold;
}
#gallary h1 span{
  color: #4c4eb2;
}
#gallary .card{
  border-radius: 10px;
}
#gallary .card img{
  border-radius: 10px;
  cursor: pointer;
}


.lingkaran{
  display: inline-block;
  border-radius: 50%;
  width: 150px;
  margin: auto;
  height: 150px;
  color: white;
  background-color: #4c4eb2;
}

.lingkaran i {
  position: relative;
  top: 30px;
}



.contact{
  width: 100%;
  height: 100vh;
  background: #f2f2f7;
  padding-top: 70px;
}
.contact .container{
  width: 100%;
  height: 80vh;
  background: white;
  background: linear-gradient(90deg, white 80%, #4c5bb2 20%);
  border-radius: 10px;
}
.heading6{
  font-size: 30px;
  font-weight: bold;
  margin-top: 70px;
}
.heading6 span{
  color: #4c58b2;
}
.contact p{
  font-weight: bold;
  font-size: 13px;
  color: black;
}
.contact input{
  width: 360px;
  border: none;
  border-bottom: 1px solid;
}
#contact-btn{
  width: 200px;
  height: 36px; 
  border: none;
  background: #4c5db2;
  color: white;
  font-weight: bold;
  margin-top: 30px;
  cursor: pointer;
}
#col{
  width: 40%;
  height: 56vh;
  background: black;
  margin-top: 78px;
}
.contact h1{
  color: white;
  font-size: 25px;
  margin-top: 10px;
  margin-left: 10px;
}
.contact #col p{
  font-size: 15px;
  color: white;
  margin-left: 13px;
  padding-top: 30px;
}
@media screen and (max-width:766px){
  .contact .container{
  background: white;
  }
  #col{
    width: 100%;
    background: #4c5fb2;
  }
  .contact{
    height: 150vh;
  }
}
@media screen and (max-width:400px){
  .contact input{
    width: 250px;
  }
  
}







.blogs{
  width: 100%;
  background: #f7f5f2;
}
.blogs h1{
  text-align: center;
  font-size: 30px;
  color: black;
  font-weight: bold;
}
.blogs h1 span{
  color: #4c56b2;
}
.blogs .container{
  margin-top: 60px;
}
.blogs h5{
  color: #534cb2;
}
#blogbtn{
  width: 200px;
  height: 36px;
  border: none;
  color: white;
  background: #4c4eb2;
  cursor: pointer;
}








#footer{
  width: 100%;
  background: #534cb2;
  margin-top: 50px;
}
.footer-logo img{
  width: 180px;
  border-radius: 10px;
  margin-top: 30px;
  cursor: pointer;
}
#footer .socail-links i{
  font-size: 17px;
  margin-left: 10px;
  margin-top: 30px;
  padding: 10px;
  background: black;
  color: white;
  border-radius: 10px;
  cursor: pointer;
}
.credite{
  color: white;
  margin-top: 20px;
}
.credite{
  text-shadow: 0px 0px 1px black;
}
.credite a{
  text-decoration: none;
  color: black;
  font-weight: bold;
}
.credite a span{
  color: black;
}
.copyright span{
  color: black;
}

html{
  scroll-behavior: smooth;
}
.arrow{
  position: fixed;
  border-radius: 50px;
  height: 50px;
  bottom: 40px;
  right: 50px;
  text-decoration: none;
  text-align: center;
  line-height: 50px;
}